
 
h1, h2,h3, h4, h5, h6, p{
  color: aliceblue;
}
button{
  border: none;
  padding: 15px 30px;
  background-color: aliceblue;
  font-weight: 800;
  cursor: pointer;
}
button:hover{
  background-color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
